mkdocs_pymdownx_material_extras>=2.1
git+https://github.com/facelessuser/pymdown-lexers.git
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
pyspelling
Pygments>=2.12
flake8
flake8_docstrings
pep8-naming
flake8-mutable
flake8-builtins
Markdown>=3.2
PyYAML>=3.10
pytest
pytest-cov
coverage
requests
mkdocs-awesome-pages-plugin
mkdocs-macros-plugin    
